:root {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    line-height: 1.5;
    font-weight: 400;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    --bg-color: #1a1a1a;
    --bg-btn-color: #ffff;
    --text-btn-color: #1a1a1a;
    --text-color: #ffff;
}

[data-theme="light"] {
    --bg-color: #ffff;
    --bg-btn-color: #1a1a1a;
    --text-btn-color: #ffff;
    --text-color: #1a1a1a;
}

#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}


body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
    background-color: var(--bg-color);
    transition: all 0.5s ease-in-out ;
}

button{
    cursor: pointer;
}

.fake-dark-mode {
    filter: invert(100%);
    transition: all 0.5s;
}
